aside {
  width: 300px; }

body {
  background-color: #ccc; }

h1 {
  color: aqua; }

p {
  font-size: medium; }

nav {
  width: 100%;
  background: #000; }
  nav ul {
    list-style: none; }
  nav li {
    color: #ccc;
    display: inline-block; }

nav {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 30px;
  font-weight: bold; }

a {
  color: #ffa; }
  a:hover {
    color: #faf; }

h2 {
  color: #b00; }
